<div id="alt-name">
	<h1><a href="index.html">Maneesh Anand</a></h1>
</div>

<div id="alt-nav">

	<ul>
		<li class="nav-li"><%= link_to 'home', root_path %></li>
		<li class="nav-li"><%= link_to 'portfolio', portfolio_path %></li>
		<li class="nav-li"><%= link_to 'contact', contact_path %></li>
	</ul>

</div> <!-- END nav -->

<div id="content">

	<h2>about</h2>

	<p>
		I'm a web developer with a finance background.  I've loved learning about, using, and developing high-technology for as long as I can remember.  I'm also passionate about helping entreprenuers achieve their business and technology goals.  I hail from small-town Ohio, but have lived in South Texas, Boston, and now Queens, NY.
	</p>

	<h2>pc history</h2>
	<ul>
		<li>IBM Compatible - DOS | Intel 8086 </li>
		<li>Packard Bell Legend 2440 - Win95 | 100Mhz Intel Pentium</li>
		<li>Compaq Presario 5170 - Win98 | 350Mhz Pentium II</li>
		<li>Dell Latitude C600 - Windows XP | 900 Mhz Pentium III</li>
		<li>Gateway P4 - Windows XP | 1.8Ghz Pentium 4</li>
		<li>Asus P5LD2 - Windows XP/Vista/7 | 2.8Ghz Pentium 4</li>
		<li>Asus P5Q-SE2 - Windows 7 | 2.4Ghz Core2Duo</li>
		<li>iMac 21.5" Early 2012 - OS X 10.8.2 | 2.7Ghz Core i5</li>
		<li>Asus N56VM - Ubuntu 14.04 LTS | 2.3Ghz Core i7</li>
	</ul>

	<h2>mobile history</h2>
	<ul>
		<li>Nokia 3588i</li>
		<li>Palm Treo 650</li>
		<li>Blackberry Pearl</li>
		<li>Blackberry Curve 8800 AT&amp;T/Sprint</li>
		<li>Palm Pre - Homebrewed/Overclocked</li>
		<li>Nexus S - Stock</li>
		<li>Galaxy S III - CM 10</li>
		<li>Galaxy S IV Active - Rooted</li>
	</ul>

</div> <!-- END content -->