<div id="name">
	<h1>Maneesh Anand</h1>
</div>

<div id="desc">
	<h2>web developer.  tech enthusiast.  history buff. news junkie.</h2>
</div>

<div id="nav">
	<ul>
		<li class="nav-li"><%= link_to 'about', about_path %></li>
		<li class="nav-li"><%= link_to 'portfolio', portfolio_path %></li>
		<li class="nav-li"><%= link_to 'contact', contact_path %></li>
	</ul>
</div>
